body {
    font-family: 'Roboto', sans-serif;
}
  
.header {
    width: 100%;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    height: 4rem;
    z-index: 5;
    padding-top: 7px;
    padding-bottom: 7px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1); /* Adjust values for shadow appearance */
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Adjust values for outline appearance */
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.0rem;
    column-gap: 1rem;
}
.navmenu{
    display:flex;
    align-items: center;
    column-gap: 2rem;
    margin-right: 23rem;
    
}
.nav_menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    column-gap: 1.5rem;
    margin-right: 2rem;
    margin-left: 1rem;
    align-items: center;
}
.nav_item {
    margin-right: 20px; /* Adjust as needed */
}
.nav_logo{   /*name*/
    margin-left: 30rem;
    font-weight: 500;
    font-size: 1.3rem;
}
.nav_link{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-weight: 500;
    font-size: 1.07rem;
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
    cursor: default;

}
.active-link:hover, .nav_link:hover{
    color: black;
    text-decoration: underline;
    transform: scale(1.05);
}
ul {
    list-style-type: none; /* Removes default bullets */
}







.links_bar{
    display: flex;
    margin-top: 10rem;
    justify-content: center;
    margin-left: 2.5rem;
    height: 25vh;
    align-items: center;
}
.home_icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.home_icon{
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid black;
    font-size: 1.7rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333;
    margin-right: 40px;
    transition: transform 0.3s ease-in-out;
    cursor: default;
}
.home_icon:hover{
    transform: scale(1.2);
}
.home_icon:active{
    background-color: whitesmoke;
}
.home_icon i {
    font-size: 24px;
}




.home_section_main{
    row-gap: 7rem;
    margin-top: calc(5rem + 4rem);
}
.container{
    margin-left: 20rem;
    margin-right: 17rem;
}

.content{
    display: flex;
    padding-top: 6.5rem;
    column-gap: 4rem;
    align-items: center;
    justify-content: center;
}
.home_image{
    background: url(./indiv.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 9px rgb(255, 255, 255/30%);
    order: 0;
    justify-self: center;
    width: 350px;
    height: 350px;
    object-fit: cover;
    margin-right: 4rem;
    border-radius: 1.5rem;

	border: 0.35rem solid;
    border-image:
        conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
    animation: borderRotate var(--d) linear infinite forwards;
}
@property --angle {
    syntax: '<angle>';
    initial-value: 90deg;
    inherits: true;
  }
  
  @property --gradX {
    syntax: '<percentage>';
    initial-value: 50%;
    inherits: true;
  }
  
  @property --gradY {
    syntax: '<percentage>';
    initial-value: 0%;
    inherits: true;
  }
  :root {
	--d: 2500ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;
	--c1: rgb(244, 5, 5);
	--c2: rgba(168, 239, 255, 0.1);
}

.home_image:nth-child(2) {
	border-image: radial-gradient(ellipse at var(--gradX) var(--gradY), var(--c1), var(--c1) 10%, var(--c2) 40%) 30;
	animation: borderRadial var(--d) linear infinite forwards;
}

@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}
@keyframes borderRadial {
	20% {
		--gradX: 100%;
		--gradY: 50%;
	}
	40% {
		--gradX: 100%;
		--gradY: 100%;
	}
	60% {
		--gradX: 50%;
		--gradY: 100%;
	}
	80% {
		--gradX: 0%;
		--gradY: 50%;
	}
	100% {
		--gradX: 50%;
		--gradY: 0%;
	}
}


.home_data{
    display: grid;
    row-gap: 1rem;
}
.name{
    font-size: 3.5rem;
    margin-top: -0.5rem;
}
.subtitle{
    margin-top: -3rem;
    font-size: 15px;
}
.self-introduction{
    max-width: 400px;
    font-size: 20px;
}

.about_section{
    display: flex;
    justify-content: center;
}
.about_me{
    margin-top: 10vh;
    border: 2.5px solid black;
    padding: 3rem 5rem; /* Adjust spacing */
    border-radius: 14%;
}

.about_title{
    display: flex;
    justify-content: center;
}
.about_self{
    display: flex;
    justify-content: center;
}

.summary{
    max-width: 700px; 
    margin: 0 auto; 
    text-align: justify; 
    line-height: 1.5; 
    font-size: 20px; 
}
.download_container{
    display: flex;
    justify-content: center;

}
.download{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #0e0f0f;
    margin-top: 3rem;
    background-color: #fff;
    border-radius: 1rem;
    padding: 1.25rem 2rem;
    font-weight: 500;
    font-size: 1.2rem;
    height: 1rem;
    width: 7rem;
    column-gap: 0.75rem;
    cursor: default;
    transition: transform 0.3s ease-in-out;
}
.download:hover{
    transform: scale(1.05);

}









.skills{
    display: flex;
    justify-content: center;
}
.learnt{
    display: flex;
    margin-top: -25px;
    justify-content: center;
    margin-bottom: 2.5rem;
}
.skills_section{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.skills_section_box{
    text-align: left;
    max-width: 1240px;
    width: 100%;
    height: 40vh;
}

.languages{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    gap:20px;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width:150px;
    border: 2.5px solid #0e0f0f;
    border-radius: 15px;
}
.box:hover{
    transition: transform 0.3s ease-in-out;
    transform: scale(1.05);
}
.small_box{
    column-gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    text-align: center;
    align-items: center;
}
.icon img{
    width:60px;
    height: auto;
    
}
.nameSkill{
    margin-top: 10px;
    font-size: 1.3rem;
    text-align: left;

}



.experience_section{
    margin-top: 10rem;
}
.experiences{
    display: flex;
    margin-top: -15vh;
    justify-content: center;
}
.past{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
    margin-bottom: 3rem;

}
.timeline_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.875rem;
    width: 55rem;
    justify-content: center;
    margin: 0 auto;
}
.timeline_grid{
    background-color: whitesmoke;
    padding:1.875rem;
    border-radius: 1.25rem;
    border: 3px solid black;
}
.timeline_grid_short{
    background-color: whitesmoke;
    padding: 1.875rem;
    border-radius: 1.25rem;
    border: 3px solid black;
}
.timeline_grid_short .timeline_item::before{
    height: 100%;
    position: absolute;
    left: 5px;;
}
.timeline_grid_short .timeline_item:last-child{
    height: 37%;
}
.timeline_item{
    position: relative;
    padding-left: 3.125rem;
    padding-bottom: 3.125rem;
}
.timeline_item:last-child{
    padding-bottom: 0;
    height: 25%;
}
.timeline_item::before{
    content:'';
    width: 2px;
    height: 80%;
    background-color: grey;
    position: absolute;
    left:0.25rem;
    top:2rem;
}
#army{
    margin-top: 1cm;  
}
.uil-graduation-cap, .uil-bag{
    position: absolute;
    left: -0.4275rem;
    top: -0.5rem;
    font-size: 1.8rem;
    color: black;
    padding: 0.4375rem 0;
}
.timeline_date{
    color: grey;
}





.project_title{
    display: flex;
    margin-top: 10vh;
    justify-content: center;
}
.project_desc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
    margin-bottom: 3rem;
}



.project_grid{
    display: grid;
    grid-template-columns: repeat(1, max-content);
    gap: 3rem;
    justify-content: center;
}



.project_box{
    border: 1px solid transparent; /* Set a transparent border to reserve space for the shadow */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    border-radius: 1rem;
    padding: 0 0 1rem 0;
    max-width: 1000px;
}
.personal_website_image{
    width: 1000px;
    border-radius: 1rem 1rem 0 0;
}
.overlay{
    display: flex;
    border-radius: 1rem;
    height: 9rem;
    padding: 1rem;
    align-items: center;
}
.project_name{
    font-size: 1.3rem;
}
.project_description{
    margin-top: -0.5rem;
}
.project_language{
    margin-top: 2rem;
}

.left_column{
    flex:1;
    margin-left: 1rem;
}
.right_column{
    display: flex;
    margin-right: 9rem;
    align-items: center;
}
.weather_application_image{
    width: 1000px;
    border-radius: 1rem 1rem 0 0;
}
.coming_soon{
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    height: 30vh;
}
.code_button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 1.3rem;
    transition: transform 0.3s ease-in-out;
}
.code_button_real{
    text-decoration: none;
    color: black;
    cursor: default;
}

.code_button:hover{
    transform: scale(1.05);

}
.code_button:active{
    background-color: whitesmoke;
}